@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif ;
    
}

#section-cabecera{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
    url(/img/fondo-c.png);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}


h1{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(66, 207, 207);
    text-align: center;
    font-size: 25px;

}

h2{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

p{
    
    text-align: center;
    font-size: 20px;
   
}

.circular--square{
    border-radius: 50%;
    height: 35vh;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display:inline-block
}

.d-cv{
    padding-top: 20px;
}
.text-about-me{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
   
}

#section-skills{
    background-color: rgb(247, 247, 247);
    padding: 10px;
}

#section-skills h2{
    padding-top: 20px;
}
.skills img{
    height: 150px;
    color: white;
}

.skills .img1{
    height:100px;
    margin: 15px;
}

.skills{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;

 
}

.static-skills{
    text-align: center;
}

#section-proyects{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.enlacegit {
    text-decoration: none;
    color: gray;
    font-size: 25px;

}

.enlacegit:hover{
    color: rgb(66, 207, 207);
}



.proyects img{
    height: 200px;
    margin: 30px;
}

.proyects .mobile{
    height: 400px;
}

.proyects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}


#section-contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90% !important;
    margin: 30px !important;
    padding: 50px 55px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form h2 {
    font-size: 20px;

}

label {
    color: rgb(24, 22, 22);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;

}

input, textarea {
    width: 100%;
    padding: px;
    border-radius: 25px !important;
    margin-bottom: 20px;
    background-color:#f3f3f3;
    border: 2px solid #f0faf1;
    outline: none;
}

.btn1 {
    font-size: 16px;
    color: #EDFFF0;
    border: 0;
    border-radius: 25px !important; 
    background-color: rgb(66, 207, 207);;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


}

.btn1:hover {
    background-color: rgb(160, 167, 164);
}

footer img{
    height: 50px;
}

.redes{
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.autor{
    height: 60px;
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.autor p{
    color: white;
    font-size: 15px;

}

 /*Animations*/
              
.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}

.shake:hover{
    animation-name: shake;
        -webkit-animation-name: shake;
        -moz-animation-name: shake;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
}

    @keyframes shake {
        0%  {transform: translate(1px, 1px) rotate(0deg);}
        10% {transform: translate(-1px, -2px) rotate(-1deg);}
        20% {transform: translate(-3px, 0px) rotate(1deg);}
        30% {transform: translate(3px, 2px) rotate(0deg);}
        40% {transform: translate(1px, -1px) rotate(1deg);}
        50% {transform: translate(-1px, 2px) rotate(-1deg);}
        60% {transform: translate(-3px, 1px) rotate(0deg);}
        70% {transform: translate(3px, 1px) rotate(-1deg);}
        80% {transform: translate(-1px, -1px) rotate(1deg);}
        90% {transform: translate(1px, 2px) rotate(0deg);}
        100% {transform: translate(1px, -2px) rotate(-1deg);}
    }


    .transUp{
        transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
    }
    .transUp:hover{
        transform: translatey(-20px);
            -webkit-transform: translatey(-20px);
            -moz-transform: translatey(-20px);
    }
                                           
    @media(min-width: 700px){
        form{
            margin: 50px;
            width: 50% !important;
        }
    }